html,body,div,iframe,
h1,h2,h3,h4,h5,h6,
p,fieldset,form,label,
span,a,em,img, b,i,
dl,dt,dd,ol,ul,li,
table,caption,tbody,thead,tr,th,td, {
    margin: 0;
    padding: 0;
}
img{border:0}
ol, ul {
    list-style: none;
}
a{color:#123166;text-decoration: none}

a:hover{
    color: #ffa000;
    text-decoration: underline;
}
input{
    font-size: 14px;
    outline: none;
}
select{
    outline: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body{
    font: 12px/150% 'Helvetica Neue',Tahoma,Arial,'Microsoft yahei',"Hiragino Sans GB",STXihei,SimSun,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: #313131;
}

.clearfix:after{
    content: '';
    display: table;
    clear:both;
}




